*{
  font-family: "Public Sans";
}
@font-face {
  font-family: "Public Sans";
  src: url('./Fonts/PublicSans-Light.ttf'); 
}

.log-box {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 635px;
    width: 590px;
    left: 425px;
    top: 60px;
    border-radius: 10px;
    background: #FFFFFF;
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.1), 0px 8px 53px rgba(0, 120, 240, 0.25);
}

input {
    position: relative;
    display: flex;
    margin: 20px;
    width: 289px;
    height: 26px;
    left: 130px;
    top: -30px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.44);
  }
  h2 {
    color: #0078F080;
    width: 68px;
    height: 31px;
    font-family: "Public Sans";
    font-weight: 400;
    font-size: 26px;
    position: relative;
    left: 255px;
    top: -70px;
  }
  p {
    color: #00000099;
    width: 454;
    height: 21px;
    font-family: "Public Sans";
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    position: relative;
    top: -40px;
  }

input:focus {
    outline: none;
    border-bottom-color: transparent;
  }
  
::placeholder {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 17.9255px;
    color: rgba(0, 0, 0, 0.44);
}

  button {
    position: relative;;
    box-sizing: border-box;
    width: 288.09px;
    height: 51.22px;
    margin-left: 150px;
    bottom: -60px;
    background: rgba(0, 120, 240, 0.1);
    border: 1px solid #0078F0;
    border-radius: 10px;
    color:#0078F0;
    font-weight: bold;
  }
  .circle {
    position: relative;
    top: -265px;
    left: 240px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #0078f030;
    box-shadow: 0px 4px 4px rgba(0, 120, 240, 0.05);
  }
  .circle img {
    margin-left: 29px ;
    margin-top: 33px;
    height: 42.333335876464844px;
    width: 42.333335876464844px;

  }
  .pass {
    position: relative;
    left: 410px;
    bottom: -9px;
  }
  .user{
    position: relative;
    left:410px;
    bottom: -9px;
  }

  

